/* BODY */
    body {
        padding: 0px auto;
        font-family: 'inter', sans-serif;
        display: flex;   
        flex-direction: column;
        padding: 0px;
        margin: 0;
    }

    body, p, h1 {
        background-color: rgb(17, 17, 17);
        color: whitesmoke;
    }  

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 24px;
    }

    h3 {
        font-weight: 800;
    }

    h4 {
        color: orange;
    }

    p {
        color: rgb(187, 187, 187);
        background-color: transparent;
    }


    /* BUTTONS */
   .butons {
        display: flex;
        gap: 20px;
    }
   
    button, 
    .cta-primary,
    .cta-secondary {
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px 50px;
        font-size: 16px;
        font-weight: 600;

    box-shadow: 3px 3px 0 white;

    transition:
        transform 0.2s ease,
        background-color 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
    }

    button:hover {
        transform: translate(-1px, -1px);
        box-shadow: 4px 4px 0 white;
    }

    #oferta:hover {
        background-color: rgb(60, 0, 226);
        color: white;
    }

    #zapytaj:hover {
        background-color: rgb(87, 0, 158);
        color: white;
    }

    #oferta {
        background-color: orange;
        color: black;
    }

    #zapytaj {
        background-color: black;
        color: whitesmoke;
    }

/* NAVBAR */

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
    }

    .nav-links, a {
        display: flex;
        gap: 20px;
        color: white;
        text-decoration: none;
    }

    ul li {
        list-style: none;
        text-decoration: none;
    }

/* HERO */

    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap; 
    }

    .hero-left,
    .hero-right {
        flex: 1 1 400px; 
        min-width: 300px;
        flex-shrink: 1;
    }

    .hero-left {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        flex-direction: column;
    }

    .hero-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-right img {
        width: 100%;
        max-width: 100%;
        max-height: 300px;     height: auto;
        object-fit: contain;
        display: block;
    }

/* co montuje */


.square-div {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(29, 29, 29);
    border: 2px solid gray;
    border-radius: 10px;
    padding: 15px;

    box-sizing: border-box;

    /* DESKTOP = 3 w rzędzie */
    flex: 0 0 calc((100% - 30px) / 3);
}

/* TABLET = 2 w rzędzie */
@media (max-width: 900px) {
    .square {
        flex: 0 0 calc((100% - 15px) / 2);
    }
}

/* MOBILE = 1 w rzędzie */
@media (max-width: 600px) {
    .square {
        flex: 0 0 100%;
    }
}

    .square:hover {
        transform: translate(-1px, -1px);
        box-shadow: 4px 4px 0 white;
        border-color: white;
        transition:
        transform 0.2s ease,
        background-color 0.2s ease,
        color 0.2s ease,
        border-color 0.2s ease,
        box-shadow 0.2s ease;
    }

    .icon {
        width: 50px;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;


        font-weight: 700;
        font-size: 16px;


        border: 1px solid white;
        border-radius: 10px;
        box-shadow: 4px 4px 0 white;
    }

    #YT {
        background-color: #f00;
    }

    #IG {
        background: #833AB4;
        background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    }

    #podcast {
        background-color: rgb(170, 88, 247);
    }

/* jak pracuję */

    .number {
        width: 50px;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: orange;
        color: black;

        font-weight: 700;
        font-size: 16px;

        border: 1px solid white;
        border-radius: 25px;
        box-shadow: 4px 4px 0 white;
    }

/* kontakt */


.kontakt {
    position: relative;

    max-width: 700px;
    margin: 80px auto;
    padding: 70px 40px;

    background: #111;
    border: 2px solid white;
    border-radius: 28px;

    text-align: center;

    /* żółty offset */
    box-shadow: 10px 10px 0 orange;
}



.kontakt h2 span {
    display: inline-block;

    background: orange;
    color: black;

    padding: 4px 14px;

    border-radius: 12px;

    transform: rotate(-1deg);
}



/* BUTTONS */

.kontakt .cta-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 20px;
}

/* PRIMARY */

.cta-primary {
    display: flex;
    align-items: center;
    gap: 12px;

    background: orange;
    color: black;

    padding: 20px 34px;

    border: 2px solid white;

    box-shadow: 6px 6px 0 white;
}

/*timeline*/


